<div class="container" id="bump-down">
  <div class="row">
    <div class="col-lg-12">
      <legend>Guests and Hosts</legend>
    </div>
    <div class="col-lg-5">

      <p>You have <%= @hosts.count %> hosts and <%= @guests.count %> guests.</p>
      <p>Generate a suggested housing arrangement?</p>
      <%= link_to("Arrangements", create_arrangement_path, class:"btn btn-default btn-lg fa fa-lock network-name", :method => :post) %>
    </div>
  </div>
</div>
