<div class="container" id="bump-down">
  <div class="row">
    <div class="col-lg-12">
      <!-- Form Name -->
      <legend>About Housing</legend>
    </div>
    <div class="col-lg-5">
      <p>This beloved social dance conference tradition keeps exchanges affordable.</p>
      <p>Be considerate, show your appreciation, and consider a gift for your host (think a bottle of wine).</p>
      <p>Of course, the best way to give back is to house guests yourself when dancers come to your town.</p>
    </div>
  </div>
</div>
