@import "bootstrap";
@import "bootswatch/cosmo/variables";
@import "bootstrap-sprockets";
@import "bootswatch/cosmo/bootswatch";
@import "landing-page";
@import "sb-admin";
@import "font-awesome";
@import "morris";

#bump-down {
  padding-top: 100px;
};

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}
