


  <%= render partial: 'hosts/host', locals: {host: solution.host} %>
  <% solution.guests.each do |guest| %>
    <%= render partial: 'guests/guest', locals: {guest: guest} %>
  <% end %>
<%# else %>
  <!-- <p>Sorry, no solutions yet.</P> -->
  <%# link_to "Create one!", new_solution_path %>
<%# end %>
